@model PruebaMilesCarRenta.Web.DTO.BookingDTO

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 offset-1">
        <h1 style="font-size: calc(1rem + 1.5vw);">Registar Usuario</h1>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="VehicleID" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Status" />
            
            <div class="row">
                <div class="offset-1">
                                   
                    <div class="form-group">
                        <span class="required">*</span>
                        <label asp-for="Date" class="col-form-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <span class="required">*</span>
                        <label asp-for="PaymentType" class="col-form-label"></label>
                        <select asp-for="PaymentType" asp-items="Model.PaymentTypes" class="form-control"></select>
                        <span asp-validation-for="PaymentType" class="text-danger"></span>
                    </div>


                </div>
                <div class="form-group mt-2">

                    <input type="submit" value="Reservar" class="btn btn-primary  col-md-3 offset-3" />
                    <a class="btn btn-secondary col-md-3" asp-controller="Home" asp-action="Index">Cancelar</a>


                </div>
                
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
