<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PruebaMilesCarRenta.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PruebaMilesCarRenta.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background: linear-gradient(to right, #1a679d,  #3498db);">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="fs-5 d-none d-sm-inline">Menu</span>
                        }
                        else
                        {
                            <span class="fs-5 d-none d-sm-inline">Menu</span>
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><span>Iniciar Sesión</span></a>
                        }


                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">

                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/bootstrap/dist/images/tickets.png" alt="hugenerd" width="30" height="30" class="rounded">   Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index"><img src="~/lib/bootstrap/dist/images/usuarios.png" alt="hugenerd" width="30" height="30" class="rounded"> Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Sedes" asp-action="Index"><img src="~/lib/bootstrap/dist/images/sedes.png" alt="hugenerd" width="30" height="30" class="rounded">   Sedes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Estudiantes" asp-action="Index"><img src="~/lib/bootstrap/dist/images/estudiantes.png" alt="hugenerd" width="30" height="30" class="rounded">   Estudiantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Acudientes" asp-action="List"><img src="~/lib/bootstrap/dist/images/acudientes.png" alt="hugenerd" width="30" height="30" class="rounded">   Acudientes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index"><img src="~/lib/bootstrap/dist/images/Consumos.png" alt="hugenerd" width="30" height="30" class="rounded">   Listado Consumo</a>
                            </li>


                        }

                    </ul>


                    <div class="dropdown pb-4">

                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" style="color:white; font-size:75%;"><img src="~/lib/bootstrap/dist/images/login.png" width="60" height="60" class="rounded offset-4" style="text-align:center;">@User.Identity.Name</a>
                                    <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
                                </li>
                            }
                            else
                            {

                                <li class="nav-item">
                                    @*<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><span>Iniciar Sesión</span></a>*@
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PruebaMilesCarRenta.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
